*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #192655, #3876BF);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar{
    width: 300px;
    height: 250px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.left, .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    font-size: 24px;
}

.right{
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background:#f4351e;
    color: #fff;
}
#date{
    font-size: 100px;
    /* line-height: 90px; */
}

#month{
    font-size: 25px;
}
